<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">{{title}}</h1>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="mt-5" id="cartItem">

            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>

<script src="javascripts/jquery3.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/cart_func.js"></script>