<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-8 my-2 py-4">
                <h1>{{header}}</h1>
                <div class="row">
                    <div class="col-md-4 card">
                        <label>ITEM:</label>
                        <a href="#"><img class="card-img-top" src="{{item_url}}" alt=""></a>
                    </div>
                    <div class="col-md-4 card">
                        <label>PRICE:</label>
                        <h2>{{item_name}}</h2>
                    </div>
                    <div class="col-md-4 card">
                        <label>QUANTITY:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2 py-4">
                <div class="card p-2">
                    <h5>Shipping and Billing</h5>
                    <label>ship to:</label>
                    <p>Marc Asinas</p>
                    <p>B2 L2 Mayon St. Country Homes Muntinlupa city</p>
                    <form>
                        <div class="form-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>