header.masterHeader {
    text-align: center;
    color: #fff;
    background-image: url(../images/initial/asian-assorted-background-917371.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: -webkit-fill-available;
}

header.masterHeader .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
}

header.masterHeader .intro-text .intro-lead-in {
    font-size: 30px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 25px;
}

header.masterHeader .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 25px;
}

.alingnenaNavbar {
    background-color: rgba(0, 104, 149, 0.616);
}

.alingnenaNavScroll {
    background-color: #006995;
}

.alingnenaFooter {
    background-color: #006995;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: aqua;
}

.no-boarder {
    border: none;
}

.transparency {
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 0%;
    border: none;
    color: #fff;
}

.customSearch {
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 104, 149, 0.2), 0 6px 20px 0 rgba(0, 104, 149, 0.19);
}